@font-face {
    font-family: Droidge v2;
    src: url("Droidgev2.ttf");
}
@font-face {
    font-family: Raleway;
    src: url("Raleway.ttf");
}
@font-face {
    font-family: Roboto; 
    src: url("Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto Light; 
    src: url("Roboto-Light.ttf");
}
@font-face {
	font-family: Expressway;
	src: url("Expressway.ttf");
}
